:root {
    --wd-top-bar-h: .00001px;
    --wd-top-bar-sm-h: .00001px;
    --wd-top-bar-sticky-h: .00001px;
    --wd-top-bar-brd-w: .00001px;
    --wd-header-general-h: 75px;
    --wd-header-general-sm-h: 55px;
    --wd-header-general-sticky-h: 75px;
    --wd-header-general-brd-w: 1px;
    --wd-header-bottom-h: 40px;
    --wd-header-bottom-sm-h: 50px;
    --wd-header-bottom-sticky-h: .00001px;
    --wd-header-bottom-brd-w: 1px;
    --wd-header-clone-h: .00001px;
    --wd-header-brd-w: calc(var(--wd-top-bar-brd-w) + var(--wd-header-general-brd-w) + var(--wd-header-bottom-brd-w));
    --wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h) + var(--wd-header-bottom-h) + var(--wd-header-brd-w));
    --wd-header-sticky-h: calc(var(--wd-top-bar-sticky-h) + var(--wd-header-general-sticky-h) + var(--wd-header-bottom-sticky-h) + var(--wd-header-clone-h) + var(--wd-header-brd-w));
    --wd-header-sm-h: calc(var(--wd-top-bar-sm-h) + var(--wd-header-general-sm-h) + var(--wd-header-bottom-sm-h) + var(--wd-header-brd-w));
}

.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu) {
    margin-top: 17.5px;
}

.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu):after {
    height: 27.5px;
}

:root:has(.whb-top-bar.whb-border-boxed) {
    --wd-top-bar-brd-w: .00001px;
}

@media (max-width: 1024px) {
    :root:has(.whb-top-bar.whb-hidden-mobile) {
        --wd-top-bar-brd-w: .00001px;
    }
}

:root:has(.whb-general-header.whb-border-boxed) {
    --wd-header-general-brd-w: .00001px;
}

@media (max-width: 1024px) {
    :root:has(.whb-general-header.whb-hidden-mobile) {
        --wd-header-general-brd-w: .00001px;
    }
}

:root:has(.whb-header-bottom.whb-border-boxed) {
    --wd-header-bottom-brd-w: .00001px;
}

@media (max-width: 1024px) {
    :root:has(.whb-header-bottom.whb-hidden-mobile) {
        --wd-header-bottom-brd-w: .00001px;
    }
}

.whb-header-bottom .wd-dropdown {
    margin-top: 0px;
}

.whb-header-bottom .wd-dropdown:after {
    height: 10px;
}

.whb-top-bar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.whb-1tgqnadpi1dvtduj7o0n a:is(.btn-style-default, .btn-style-3d) {
    background-color: rgba(20, 151, 89, 1);
}

.whb-1tgqnadpi1dvtduj7o0n a:is(.btn-style-bordered, .btn-style-link) {
    border-color: rgba(20, 151, 89, 1);
}

.whb-1tgqnadpi1dvtduj7o0n a:is(.btn-style-bordered, .btn-style-default, .btn-style-3d):hover {
    background-color: rgba(0, 123, 64, 1);
}

.whb-1tgqnadpi1dvtduj7o0n a:is(.btn-style-bordered, .btn-style-link):hover {
    border-color: rgba(0, 123, 64, 1);
}

.whb-9x1ytaxq7aphtb3npidp .searchform {
    --wd-form-height: 43px;
}

.whb-9x1ytaxq7aphtb3npidp.wd-search-form.wd-header-search-form .searchform {
    --wd-form-color: rgba(33, 33, 33, 1);
    --wd-form-placeholder-color: rgba(20, 151, 89, 1);
    --wd-form-brd-color: rgba(20, 151, 89, 1);
    --wd-form-brd-color-focus: rgba(20, 151, 89, 1);
    --wd-form-bg: rgba(255, 255, 255, 1);
}

.whb-usoms50xq6o8pkrjympg a:is(.btn-style-default, .btn-style-3d) {
    background-color: rgba(20, 151, 89, 1);
}

.whb-usoms50xq6o8pkrjympg a:is(.btn-style-bordered, .btn-style-link) {
    border-color: rgba(20, 151, 89, 1);
}

.whb-usoms50xq6o8pkrjympg a:is(.btn-style-bordered, .btn-style-default, .btn-style-3d):hover {
    background-color: rgba(6, 131, 71, 1);
}

.whb-usoms50xq6o8pkrjympg a:is(.btn-style-bordered, .btn-style-link):hover {
    border-color: rgba(6, 131, 71, 1);
}

.whb-row .whb-vssfpylqqax9pvkfnxoz.wd-tools-element .wd-tools-inner,
.whb-row .whb-vssfpylqqax9pvkfnxoz.wd-tools-element>a>.wd-tools-icon {
    background-color: rgba(20, 151, 89, 1);
}

.whb-row .whb-vssfpylqqax9pvkfnxoz.wd-tools-element:hover .wd-tools-inner,
.whb-row .whb-vssfpylqqax9pvkfnxoz.wd-tools-element:hover>a>.wd-tools-icon {
    background-color: rgba(11, 143, 80, 1);
}

.whb-row .whb-nedhm962r512y1xz9j06.wd-tools-element .wd-tools-inner,
.whb-row .whb-nedhm962r512y1xz9j06.wd-tools-element>a>.wd-tools-icon {
    background-color: rgba(20, 151, 89, 1);
}

.whb-row .whb-nedhm962r512y1xz9j06.wd-tools-element:hover .wd-tools-inner,
.whb-row .whb-nedhm962r512y1xz9j06.wd-tools-element:hover>a>.wd-tools-icon {
    background-color: rgba(10, 117, 67, 1);
}

.whb-row .whb-trk5sfmvib0ch1s1qbtc.wd-tools-element .wd-tools-inner,
.whb-row .whb-trk5sfmvib0ch1s1qbtc.wd-tools-element>a>.wd-tools-icon {
    background-color: rgba(20, 151, 89, 1);
}

.whb-row .whb-trk5sfmvib0ch1s1qbtc.wd-tools-element:hover .wd-tools-inner,
.whb-row .whb-trk5sfmvib0ch1s1qbtc.wd-tools-element:hover>a>.wd-tools-icon {
    background-color: rgba(1, 117, 63, 1);
}

.whb-general-header {
    border-color: rgba(227, 227, 227, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.whb-wjlcubfdmlq3d7jvmt23 .menu-opener {
    background-color: rgba(255, 255, 255, 1);
}

.whb-wjlcubfdmlq3d7jvmt23 .menu-opener {
    border-color: rgba(129, 129, 129, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}

.whb-e6fk2q1nh63jdb1d9uvu .searchform {
    --wd-form-height: 40px;
}

.whb-e6fk2q1nh63jdb1d9uvu.wd-search-form.wd-header-search-form-mobile .searchform {
    --wd-form-brd-color: rgba(20, 151, 89, 1);
    --wd-form-brd-color-focus: rgba(20, 151, 89, 1);
}

.whb-header-bottom {
    border-color: rgba(129, 129, 129, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}