@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "woodmart-font";
    src: url("//falaqfood.shop/wp-content/themes/woodmart/fonts/woodmart-font-1-400.woff2?v=8.0.6") format("woff2");
}

@font-face {
    font-family: "star";
    font-weight: 400;
    font-style: normal;
    src: url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
}

@font-face {
    font-family: "WooCommerce";
    font-weight: 400;
    font-style: normal;
    src: url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.woff") format("woff"), url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.ttf") format("truetype"), url("//falaqfood.shop/wp-content/plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce") format("svg");
}

:root {
    --wd-text-font: "Hind Siliguri", Arial, Helvetica, sans-serif;
    --wd-text-font-weight: 400;
    --wd-text-color: rgb(0, 0, 0);
    --wd-text-font-size: 16px;
    --wd-title-font: "Hind Siliguri", Arial, Helvetica, sans-serif;
    --wd-title-font-weight: 400;
    --wd-title-color: #242424;
    --wd-entities-title-font: "Tiro Bangla", Arial, Helvetica, sans-serif;
    --wd-entities-title-font-weight: 500;
    --wd-entities-title-color: rgb(0, 0, 0);
    --wd-entities-title-color-hover: rgb(51 51 51 / 65%);
    --wd-alternative-font: "Hind Siliguri", Arial, Helvetica, sans-serif;
    --wd-widget-title-font: "Tiro Bangla", Arial, Helvetica, sans-serif;
    --wd-widget-title-font-weight: 600;
    --wd-widget-title-transform: uppercase;
    --wd-widget-title-color: #333;
    --wd-widget-title-font-size: 16px;
    --wd-header-el-font: "Roboto", Arial, Helvetica, sans-serif;
    --wd-header-el-font-weight: 500;
    --wd-header-el-transform: uppercase;
    --wd-header-el-font-size: 16px;
    --wd-primary-color: rgb(21, 151, 88);
    --wd-alternative-color: rgb(22, 22, 11);
    --wd-link-color: #333333;
    --wd-link-color-hover: rgb(38, 25, 1);
    --btn-default-bgcolor: #f7f7f7;
    --btn-default-bgcolor-hover: #efefef;
    --btn-accented-bgcolor: rgb(20, 151, 89);
    --btn-accented-bgcolor-hover: rgb(0, 150, 77);
    --wd-form-brd-width: 2px;
    --notices-success-bg: rgb(20, 151, 89);
    --notices-success-color: #fff;
    --notices-warning-bg: rgb(211, 130, 44);
    --notices-warning-color: #fff;
}

.wd-popup.wd-age-verify {
    --wd-popup-width: 500px;
}

.wd-popup.wd-promo-popup {
    background-color: rgb(255, 255, 255);
    background-image: url(https://shops.deenhive.com/wp-content/uploads/2021/09/retail-popup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    --wd-popup-width: 800px;
}

.woodmart-woocommerce-layered-nav .wd-scroll-content {
    max-height: 223px;
}

.wd-page-title {
    background-color: #0a0a0a;
    background-image: none;
    background-size: cover;
    background-position: center center;
}

.wd-footer {
    background-color: rgb(21, 151, 88);
    background-image: none;
}

html .product.category-grid-item .wd-entities-title,
html .product.category-grid-item.cat-design-replace-title .wd-entities-title,
html .wd-masonry-first .category-grid-item:first-child .wd-entities-title,
html .product.wd-cat .wd-entities-title {
    font-size: 16px;
}

body,
[class*=color-scheme-light],
[class*=color-scheme-dark],
.wd-search-form[class*="wd-header-search-form"] form.searchform,
.wd-el-search .searchform {
    --wd-form-brd-color: rgb(20, 151, 89);
    --wd-form-brd-color-focus: rgb(20, 151, 89);
}

.product-labels .product-label.onsale {
    background-color: rgb(20, 151, 89);
}

.wd-popup.popup-quick-view {
    --wd-popup-width: 920px;
}

:root {
    --wd-container-w: 1222px;
    --wd-form-brd-radius: 5px;
    --btn-default-color: #333;
    --btn-default-color-hover: #333;
    --btn-accented-color: #fff;
    --btn-accented-color-hover: #fff;
    --btn-default-brd-radius: 0px;
    --btn-default-box-shadow: none;
    --btn-default-box-shadow-hover: none;
    --btn-default-box-shadow-active: none;
    --btn-default-bottom: 0px;
    --btn-accented-brd-radius: 0px;
    --btn-accented-box-shadow: none;
    --btn-accented-box-shadow-hover: none;
    --btn-accented-box-shadow-active: none;
    --btn-accented-bottom: 0px;
    --wd-brd-radius: 0px;
}

@media (min-width: 1239px) {
    .platform-Windows .wd-section-stretch>.elementor-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1222px) {
    html:not(.platform-Windows) .wd-section-stretch>.elementor-container {
        margin-left: auto;
        margin-right: auto;
    }
}